
@{
    ViewData["Title"] = "AdminPanel";
}


<button><a asp-action="AlbumList">Albums</a></button>
<button><a asp-action="ArtistList">Artists</a></button>
<button><a asp-action="Songs">Songs</a></button>